<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
    </head>
    <body>
        <nav>
            <div class="site-title">
                <p>New user</p>
            </div>
        </nav>

        <div class="create-user content">
            <form action="/signup" method="POST">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" id="register "name="register" onclick="newUser()">Register</button>
            </form>
        </div>
        <script>
            function newUser(){
                alert('New user registered');
            }
        </script>
    </body>
</html>